{% extends "base.html" %}

{% block title %}
Create Project
{% endblock title %}

{% block content %}
    <h1>Create Project</h1>
    {% if messages %}        
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>            
    {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table class="table table-bordered" id="addProjectTable" width="100%" cellspacing="0" border="0">
        {{ form.as_table }}
        </table>
        <br/>
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-secondary" />
        {% comment %}<a href="{% url 'core:dashboard' %}" class="btn btn-secondary">Back</a>{% endcomment %}
    </form>
{% endblock %}